.foot{
    background-color: #161619;
    min-width: 317px;
    max-width: 317px;
    min-height: 64px;
    max-height: 64px;
    color: #918E9B;
    margin: 0 32.3rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px -2px black;
  
}
.logo-link{
    padding-top: 20px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    gap : 20px;
}
#twitter{

    font-size: 30px;
}
#facebook{

    font-size: 30px;

}
#instagram{
    font-size: 30px;
}
#linkdin{

    font-size: 30px;
}
#git{

    font-size: 30px;
}